.wide { width: 100%; }

.sub {
  margin: 0 0 .75rem;
  color: rgba(0, 0, 0, 0.65);
  font-size: .9rem;
}

.toolbar {
  margin-bottom: .75rem;
}

.tel {
  color: rgba(0, 0, 0, .5);
  font-size: .75rem;
}

.text-muted {
  color: rgba(0,0,0,.45);
  font-size: .75rem;
}
